<!DOCTYPE html>
<html lang="en">
<head>
  <title>Matkaklubi</title>
  <%- include ("../partials/header") %>    
</head>
<body>

<div class="paissektsioon">
    <div class="container">
        <%- include ("../partials/pais") %>
        <div class="pealdis">
            <div class="pealdis-pealkirjad">
                <div class="rida1">
                    <h2>Matkaklubi</h2>
                    <div class="liblikas1"></div>
                </div>
                <div class="rida2">
                    <div class="liblikas2"></div>
                    <h1>Puhas higi</h1>
                </div>
                <div class="rida3">
                    <h3>
                        Tule koos meiega matkama
                    </h3>
                </div>
                <button class="nupp-paises">Vaata matkasid</button>

            </div>
            <div class="pealdis-pilt-ymbris">
                <div class="pealdis-pilt"></div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row" id="matkad">
        <% for (const matk of matkad) { %>
            <div class="col-md-4 card">
                <img class="card-img-top" src="<%= matk.pildiUrl %>" alt="">
                <div class="card-body">
                    <h4 class="card-title" ><%= matk.nimetus %></h4>
                    <p>
                        <%= matk.kirjeldus %>
                    </p>
                    <a href="/registreeru/<%= matk.id %>" class="btn btn-primary">Registreeru</a>
                </div>
            </div> 
        <% } %>
    </div>

</div>

<script src="matkaklubi.js"></script>
</body>
</html>
